@using DesignPatterns.Models.Data;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        @foreach (var product in Model)
        {
            <p>@product.Name</p>
        }
    </div>
</div>