@model IEnumerable<ProductViewModel>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="product/add">New product</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
