@{
    decimal localTotal = (decimal)ViewBag.localTotal;
    decimal foreignTotal = (decimal)ViewBag.foreignTotal;
}

<div class="row">
    <div class="col-12">
        <label>Local total:</label>
        <b>@localTotal</b><br/>
        <label>Foreign total:</label>
        <b>@foreignTotal</b><br/>
    </div>
</div>